
.winner{
	color: green;
}

#scoreBoard{
	background: url("http://cliparts.co/cliparts/rTL/bye/rTLbyexT8.png");
	background-size: cover;
	width: 600px;
	height: 450px;
	text-align: center;
	margin: 0 auto;
}

h1{
	padding-top: 70px;
	font-size: 110px;
}

p{
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bolder;
	font-family: serif;
}
#p1{
background-color:#FF7372;
color: white;
border-radius: 6px;
}
#p2{
background-color:#4CA6FF;
color: white;
border-radius: 6px;
}
#reset{
background-color:#5DAE5D;
color: white;
border-radius: 6px;
}
input{
	border-radius: 5px;
}